<!-- menu bar -->
<!-- <div class="row"> -->
<div class="col-sm-2">
  <div id="admin-content">
    <div id="left-menu">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/accessories">Accessories</a>
        </li>
        <li>
          <a href="/denim">Denim</a>
        </li>
        <li>
          <a href="/footwear">Footwear</a>
        </li>
        <li>
          <a href="/jeans">Jeans</a>
        </li>
        <li>
          <a href="/outwear">Outerwear</a>
        </li>
        <li>
          <a href="/pants">Pants</a>
        </li>
        <li>
          <a href="/shirt">Shirts</a>
        </li>
        <li>
          <a href="/t-shirt">T-Shirts</a>
        </li>
        <li>
          <a href="/short">Shorts</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- akhir menu bar -->
<div class="col-sm-10">
<router-outlet></router-outlet>
</div>